@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #222;
  --title: #222;
  --bg: white;
  --code-bg: #232936;
  --link: #d23669;
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --pink: lab(68 -44 63); /* Converted from #FF9800 (bright orange) */
    --purple: lab(62 -36 46); /* Converted from #FFC107 (lighter orange) */
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgba(255, 255, 255, 0.88);
    --title: white;
    --bg: rgb(32, 32, 32);
    --code-bg: #191d27;
    --link: #ffa7c4;
    --inlineCode-bg: rgba(115, 124, 153, 0.2);
    --inlineCode-text: #e6e6e6;
    --pink: lab(68 -44 63); /* Converted from #FF9800 (bright orange) */
    --purple: lab(62 -36 46); /* Converted from #FFC107 (lighter orange) */
  }
}

@property --myColor1 {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}
@property --myColor2 {
  syntax: "<color>";
  initial-value: #222;
  inherits: false;
}
@media (prefers-color-scheme: dark) {
  @property --myColor1 {
    syntax: "<color>";
    initial-value: rgba(255, 255, 255, 0.88);
    inherits: false;
  }
  @property --myColor2 {
    syntax: "<color>";
    initial-value: rgba(255, 255, 255, 0.88);
    inherits: false;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose {
  font-family: "Inter", sans-serif;
}

.prose strong {
  font-weight: 600;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}
